/*------------------Global Styles------------------------*/
* {
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
/* } Do I need this? */
}

body {
    font-size: .875rem;
    color: #333;
    font-weight: 400;
}

header {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 0.5rem;
    background-color: #A0DDE6;
    text-align: center;
    margin-bottom: 2rem;
}

footer{
    text-align: center;
    background-color: #80c2af;
    padding: 0.5rem;
}
  
.navlink {
    font: inherit;
    color: #fff;
    background-color: #3B60E4;
    border: 1px solid #3B60E4;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
    text-decoration: none;

    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 25px;
}

.navlink:focus {
    outline: none;
  }
  
  .navlink:hover,
  .navlink:active {
    background-color: #fb3640;
    border-color: #fb3640;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
  }
  
  .navlink:disabled {
    background-color: #ccc;
    border-color: #ccc;
    box-shadow: none;
    color: #3f3f3f;
    cursor: not-allowed;
  }

  h1 {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}

  /*------------------Card Styling------------------------*/


#main{

}

#newVisit{
    color: #fff;
    background-color: #3B60E4;
    border: none;
    border-radius: 4px;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    
    min-width: 25px;
    text-decoration: none;
}

#newVisit2{
    color: #fff;
    background-color: #3B60E4;
    border: none;
    border-radius: 4px;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 25px;
    text-decoration: none;
}

#createVisitForm{

}

#food-pantry-name{

}

#food-pantry-date{

}

#food-pantry-completed{

}

#items-ol{

}

#temp-warning{
    color: #611C35;
}

.visit-li{

}

.edit-visit-link{
    color: #fff;
    background-color: #3B60E4;
    border: none;
    border-radius: 4px;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 25px;
    text-decoration: none;
}

.delete-visit-link{
    color: #fff;
    background-color: #611C35;
    border: none;
    border-radius: 4px;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 25px;
    text-decoration: none;
}

.delete-item-link{
    color: #fff;
    background-color: #611C35;
    border: none;
    border-radius: 4px;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 25px;
    text-decoration: none;
}

.new-item-link{
    color: #fff;
    background-color: #3B60E4;
    border: none;
    border-radius: 4px;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 25px;
    text-decoration: none;
}

.layout-container{
    padding: 20px;
}

h2 {
    text-align: center;
    font-size: 1.375rem;
    font-weight: 500;
    color: #333;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    display: block;
    
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    font-size: .875rem;
    line-height: 1.0625rem;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    color: #545454;
}

input {
    
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #fff;
    border-radius: 4px;
    border: 2px solid #c9c9c9;
}

.button {
    color: #fff;
    background-color: #4DA1A9;
    border: none;
    border-radius: 4px;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 25px;
}

/* a:hover {
    background-color: #4DA1A9; */
/* } This needs to be moved to a class */

input:hover {

    border: 2px solid #4DA1A9;
}

input:active {

    border: 2px solid #611C35;
}

.button:active {

    background-color: #611C35;
   
}

.button:active {

    background-color: #3B60E4;
   
}

